.features {
}
.features__header {
}
.features__header-wrap {
  padding: 40px 20px;
}
.features__list-wrap {
  @mixin reset-ul;
  @mixin wrap;
  padding-top: 45px;
  padding-bottom: 290px;
  text-align: center;
}
.features__item {
  margin-bottom: 27px;
}
.features__item-text {
}
.features__item-title {
  @mixin font-bold 18px, 24px;
  color: black;
}
.features__list {
  background-color: $bg-color-grey;
}

.features__promo-title {
  @mixin font-light 24px, 28px;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}