.page-header {
  color: $menu-text-color;
  background-color: $bg-color;
  border-top: 1px solid transparent;
}
.page-header__wrap {
}
.page-header__download {
}
.page-header__download-wrap {
  padding: 28px 20px 29px 20px;
}
.page-header__download-btn {
  @mixin link-style;
  line-height: 50px;
  text-align: center;
  border: 3px solid white;
  border-radius: 50px 50px;
}
.page-header__download-info {
  @mixin font-light 14px, 24px;
  display: block;
  text-align: center;
}
.page-header__title {
}