$mobile-width: (max-width: 699px);
$tablet-width: ((min-width: 700px) and (max-width: 1199px));
$desktop-width: (min-width: 1200px);

@define-mixin wrap-mobile{
  width: 87.5%;
  margin: 0 auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
}
@define-mixin wrap-tablet {
  width: 88.57%;
  margin: 0 auto;
  padding-left: 5.71%;
  padding-right: 5.71%;
}
@define-mixin wrap-desktop {
  width: 78.34%;
  margin: 0 auto;
  padding-left: 10.83%;
  padding-right: 10.83%;
}

@define-mixin wrap {
  @media ($only-mobile) {
    @mixin wrap-mobile;
  }
  @media ($tablet-width) {
    @mixin wrap-tablet;
  }
  @media ($desktop-width) {
    @mixin wrap-desktop;
  }
}

/* resets */
@define-mixin btn-reset {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@define-mixin fieldset-reset {
  border: none;
  margin: 0;
  padding: 0; 
}
@define-mixin reset-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* style */
@define-mixin radiocheck-style {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 78px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}
@define-mixin link-style {
  display: block;
  font-family: "Open Sans Bold";
  font-size: 18px;
  line-height: 62px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  &:hover {
    color: #d22856;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
@define-mixin placeholder-style {
  color: #000000;
}
/* fonts */
@define-mixin font-normal $font-size, $line-height {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}
@define-mixin font-light $font-size, $line-height {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  font-size: $font-size;
  line-height: $line-height;
}
@define-mixin font-bold $font-size, $line-height {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
}

/* фиксирует и растягивает модальное окно до указанного 
$modal-width размера */
@define-mixin modal-fix $modal-width {
  display: block;
  position: fixed;
  top: 20%;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 90;
  @media (min-width: $modal-width+1) {
    width: $modal-width;
    left: 50%;
    margin-left: -($modal-width)/2;
  }
}